*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #34343c;
}

.home-btn{
    
    margin-left: 95%;
    z-index: 22;
}

.about_container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
}

.about-div{
    flex: 2.7;
    color: #fdfffd;
    align-content: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.about-div button{
    border: none;
    color: #fdfffd;
    font-size: 1.3rem;
    font-weight: 400;

}

.about-div button:hover{
    transition: 1s;
    font-size: 1.5rem;
}

.resume-arrow{
    font-size: 1.3rem;
    padding-right: 0.5rem;
}

.image-div{
    position: relative;
    height:32.5rem;
    flex: 1.3;
    /* background-image: url(kunal.jpg); */
    /* background-size: cover; */

}

.image-div img{
    /* object-fit: cover; */
    height: 35rem;
    width: 28rem;
    border-bottom-left-radius: 2rem ;
}


.resume-link{
    text-decoration: none;
    color: #fdfffd;
}



